win7_x64_PaddleOCR-json/__init__.py
win7_x64_PaddleOCR-json/api-ms-win-core-libraryloader-l1-2-0.dll
win7_x64_PaddleOCR-json/api-ms-win-core-processtopology-obsolete-l1-1-0.dll
win7_x64_PaddleOCR-json/api-ms-win-eventing-provider-l1-1-0.dll
win7_x64_PaddleOCR-json/concrt140.dll
win7_x64_PaddleOCR-json/i18n.csv
win7_x64_PaddleOCR-json/libiomp5md.dll
win7_x64_PaddleOCR-json/mkldnn.dll
win7_x64_PaddleOCR-json/mklml.dll
win7_x64_PaddleOCR-json/msvcp140.dll
win7_x64_PaddleOCR-json/onnxruntime.dll
win7_x64_PaddleOCR-json/opencv_world4100.dll
win7_x64_PaddleOCR-json/paddle_inference.dll
win7_x64_PaddleOCR-json/paddle2onnx.dll
win7_x64_PaddleOCR-json/PaddleOCR-json.exe
win7_x64_PaddleOCR-json/PPOCR_api.py
win7_x64_PaddleOCR-json/PPOCR_config.py
win7_x64_PaddleOCR-json/PPOCR_umi.py
win7_x64_PaddleOCR-json/README.md
win7_x64_PaddleOCR-json/vcomp140.dll
win7_x64_PaddleOCR-json/vcruntime140_1.dll
win7_x64_PaddleOCR-json/vcruntime140.dll
win7_x64_PaddleOCR-json/__pycache__/__init__.cpython-38.pyc
win7_x64_PaddleOCR-json/__pycache__/PPOCR_api.cpython-38.pyc
win7_x64_PaddleOCR-json/__pycache__/PPOCR_config.cpython-38.pyc
win7_x64_PaddleOCR-json/__pycache__/PPOCR_umi.cpython-38.pyc
win7_x64_PaddleOCR-json/models/config_chinese_cht.txt
win7_x64_PaddleOCR-json/models/config_chinese.txt
win7_x64_PaddleOCR-json/models/config_cyrillic.txt
win7_x64_PaddleOCR-json/models/config_en.txt
win7_x64_PaddleOCR-json/models/config_japan.txt
win7_x64_PaddleOCR-json/models/config_korean.txt
win7_x64_PaddleOCR-json/models/configs.txt
win7_x64_PaddleOCR-json/models/dict_chinese_cht.txt
win7_x64_PaddleOCR-json/models/dict_chinese.txt
win7_x64_PaddleOCR-json/models/dict_cyrillic.txt
win7_x64_PaddleOCR-json/models/dict_en.txt
win7_x64_PaddleOCR-json/models/dict_japan.txt
win7_x64_PaddleOCR-json/models/dict_korean.txt
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_det_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_det_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_det_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/ch_PP-OCRv3_rec_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/ch_ppocr_mobile_v2.0_cls_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/ch_ppocr_mobile_v2.0_cls_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/ch_ppocr_mobile_v2.0_cls_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/chinese_cht_mobile_v2.0_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/chinese_cht_mobile_v2.0_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/chinese_cht_mobile_v2.0_rec_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/cyrillic_PP-OCRv3_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/cyrillic_PP-OCRv3_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/cyrillic_PP-OCRv3_rec_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/en_PP-OCRv3_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/en_PP-OCRv3_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/en_PP-OCRv3_rec_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/japan_PP-OCRv3_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/japan_PP-OCRv3_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/japan_PP-OCRv3_rec_infer/inference.pdmodel
win7_x64_PaddleOCR-json/models/korean_PP-OCRv3_rec_infer/inference.pdiparams
win7_x64_PaddleOCR-json/models/korean_PP-OCRv3_rec_infer/inference.pdiparams.info
win7_x64_PaddleOCR-json/models/korean_PP-OCRv3_rec_infer/inference.pdmodel
BaiduOCR/__pycache__/__init__.cpython-38.pyc
BaiduOCR/__pycache__/baidu_ocr_config.cpython-38.pyc
BaiduOCR/__pycache__/baidu_ocr.cpython-38.pyc
TencentOCR/__pycache__/__init__.cpython-38.pyc
TencentOCR/__pycache__/tencent_ocr_config.cpython-38.pyc
TencentOCR/__pycache__/tencent_ocr.cpython-38.pyc
